.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card-content {
    width: 80%;
    background: white;
    padding: 1rem;
    margin-top: 10px;

    .p-card {
      background: #F8F9FA;
      border: 1px solid #DEE2E6;
      width: 100%;
  
      .p-card-body {
        .p-card-title {
          h1 {
            margin-block-end:0;
            margin-block-start: 0;
          }
        }
        .p-card-content {
          display: flex;        
          padding: 0.5rem 0;
          width: 100%;
  
          .content-filter {
            display: flex;
            width: 80%;
            
            .p-field {
              margin-right: 10px;
              width: 40%;
  
              h5 {
                margin-block-end: 0.2em;
              }
  
              .p-inputtext {
                width: 100%;
              }
  
              .p-inputnumber {
                width: 100%;
              }

              .p-dropdown {
                width: 100%;
              }
            }
          }
  
          .d-button {
            .p-button {
              margin-top: 43px;
            }
          }
        }
      }
    }
  }

  .d-datatable {
    width: 80%;
    margin-top: 10px;

    .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead, .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-tfoot {
      background-color: #f8f9fa;
      border: 1px solid #DEE2E6;
      border-right: 0;
      border-left: 0;
    }
  }
}